tested Snake Game Version 2 10-30-2018.py
looks like it is running. Was there something specific you wanted me to look at? -Dominic